
<%= render 'shared/content_title', title: 'Dashboard' %>
<div class='col-sm-12 text-right'><button id='edit' class='btn btn-primary'>Edit Nickname</button></div>
<br/>
<br/>
<%= render current_user.locations, n_of_days: 5 %>

<%= render 'shared/abbr' %>